{% extends "auctions/layout.html" %}

{% block body %}

    <h4 style="text-align : center;" class="text-white">Create Auction</h4>
    <div style="border-top : 1px solid white;"><div><br>

    {% if message %}
         <div class="alert alert-danger" role="alert">
                 {{message}}
          </div>
       {% endif %}
    <form action="{% url 'newitem' %}" method="post" style="text-align : center;padding-left:20%; padding-right:20%">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="title" placeholder="Title">
        </div>
        <div class="form-group">
        <input type="text" class="form-control" placeholder="price in $ " name = "price">
        </div>

        <div class="form-group">
        <select class="custom-select" id="inputGroupSelect02" name="category">
          <option selected>Choose Category</option>
          <option value="fashion">Fashion</option>
          <option value="toy">Toy's</option>
          <option value="technology">Technology</option>
          <option value="electronics">Electronics</option>
          <option value="automotive">Automotive </option>
          <option value="home">home</option>
        </select>
        </div>

        <div class="form-group">
         <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Description" name = "description"></textarea>
        </div>

         <div class="form-group">
            <input class="form-control" autofocus type="text" name="image_url" placeholder="enter the url of image">
        </div>
        <input class="btn btn-primary" type="submit">
    </form>
{% endblock %}